/*Menu fonts*/
@font-face {
font-family: 'Arsenal';  
src: local('Arsenal-Regular'), 
url('fonts/Arsenal/arsenal-regular.woff2') format('woff2'), 
url('fonts/Arsenal/arsenal-regular.woff') format('woff'), 
url('fonts/Arsenal/arsenal-regular.ttf') format('truetype');    
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Arsenal';   
src: local('Arsenal-Italic'), 
	url('fonts/Arsenal/arsenal-italic.woff2') format('woff2'), 
	url('fontsArsenal/arsenal-italic.woff') format('woff'), 
	url('fonts/Arsenal/arsenal-italic.ttf') format('truetype');   
font-weight: 400;    
font-style: italic;
}

@font-face {    
font-family: 'Arsenal';    
src: local('Arsenal-Bold'), 
	url('fonts/Arsenal/arsenal-bold.woff2') format('woff2'), 
	url('fonts/Arsenal/arsenal-bold.woff') format('woff'), 
	url('fonts/Arsenal/arsenal-bold.ttf') format('truetype');    
font-weight: 700;    
font-style: normal;
}

@font-face {    
font-family: 'Arsenal';    
src: local('Arsenal-BoldItalic'), 
	url('fonts/Arsenal/arsenal-bolditalic.woff2') format('woff2'), 
	url('fonts/Arsenal/arsenal-bolditalic.woff') format('woff'), 
	url('fonts/Arsenal/arsenal-bolditalic.ttf') format('truetype');    
font-weight: 700;    
font-style: italic;
}

/*<<- end MF end ->>*/
body {
	font-family: 'Arsenal';
}

table {
	border:1px solid #DDDDDD;
}

th {
	background-color:#BFBFBF;
}
/*Horizontal menu style*/

.min-screen{
	min-width: 450px;
	overflow: auto;
}

.menu-frame{
	width: 100%;
	min-width: 350px;
	height: 45px;
}

.choose-jour {

}


ul.horizontal-menu {
margin-right: 10px;
padding: 12px 0 0 0;
list-style: none;
float: right;
}

ul.horizontal-menu li {
margin-right: 5px;
display: inline-block;
}

ul.horizontal-menu li a {
border-bottom: none;
box-shadow: 1px 1px 1px black;
/*border:1px solid black;*/
padding: 5px 14px;
text-decoration: none;
color: #888899;
background: #f7f7f9;
}

ul.horizontal-menu li a:hover {
	background-color: #DDDDDD;
}

ul.horizontal-menu li a.selected {
color: #555566;
background: #A3AC9A;
}
/*<<- end HMS end ->>*/

.main-field{
	background-color: #FCFCFC;
	height: 500px;
	overflow: auto;
}
.main-field > .row{
	overflow:visible;
}
.result-table {
	max-height: 270px;
	overflow:auto;
}

.vert-menu{
	/*background-color: green;*/
	padding-left: 0px !important;
	position: relative;
}

.info-field{
	
}
.row {
	overflow: hidden;
}

.green {
	background-color: green;
}

.wrong-pass{
	color:red;
	display: inline-block;
	opacity: 0;
}

.wrong-pass > p{
	margin:0 0 0 0;
}

.wrong-pass input {
	border:1px solid red;
}

/*Выделение строки таблицы*/

.choosen{
	background-color: #DDDDDD;
}

.table-hover>tbody>tr:hover,
.table-hover>tbody>tr.choosen:hover{
	background-color: #DDDDDD;
	cursor: pointer;
}
.table-hover>tbody>tr.table-head:hover {
	cursor: default;
}

.active-item{

}

.status {
	margin: 6px 20px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.status.unblocked-art:hover::after { 
 	content: "Удалить"; 
    position: relative;
    top: -5px;
    left: 18px;
    color:red;
}

.status.blocked-art:hover::after { 
 	content: "Восстановить"; 
    position: relative;
    top: -5px;
    left: 18px;
    color:green;
}

.blocked-art{
	background-color: red;
}

.unblocked-art{
	background-color: yellow;
}

.waiting-art {
	background-color: black;
}

.hidden {
	display: none;
}

.search_art {
	display: inline-block;
	margin-bottom: 10px;
	width: 140px;
	height: 25px;
	border-radius: 2px;
}

.btn {
	line-height: 0.9;
	margin-bottom: 2px;
	padding: 5.5px 12px;
}

.class_select {
	padding: 2px 5px;
	width:80px;
	/*margin-left: 45px */
}

.jour_select {
	padding: 2px 5px;
	width:140px;
	height: 25px;
}
#journals, #vew_journ_class{
	display:inline-block;
}
#show_art_data {
    position: relative;
    float: right;
}

.content-tab {
	display:none;
}
.active-tab {
	display: block !important;
}
#redact-authors,
#delete-author,
#redact-article,
#delete-article,
#redact-journal,
#delete-journal,
#show_art_data,
#add_new_auth {
	display: none;
}



.redact-input {
	height: 25px;
}
.avail_authors {
	width: 200px;
    height: 25px;
    padding: 2px 5px;
}

#search_auth_icon:hover {
	cursor:pointer;
}
h4 {
	font-size: 16px;
}

/*Стили всплывающего окна*/
